{% extends 'myapp/base.html' %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Resume Builder</title>
    {% load static %}
    <link rel="stylesheet"  href="{% static 'myapp/css/form.css' %}">
</head>
 <body>

        <div class="container">
              <div class="text">1-> Let's start with your name.*</div>
        <form name="frm" action="{% url 'form2' %}" method="post">
            {% csrf_token %}
                <div class="form-row">
                  <div class="input-data">
                    <input type="text" required name="name" id="name">
                    <div class="underline">
                    </div>
        <label for="">Type your name here</label>
                  </div>
<!--                    <div class="input-data">-->
<!--                        <input type="text" required>-->
<!--                        <div class="underline">-->
<!--                        </div>-->
<!--                        <label for="">Last Name</label>-->
<!--                  </div>-->
        </div>
                <div class="form-row">
                    <div class="input-data">
                            <input type="text" required name="email" id="email">
                            <div class="underline">
                            </div>
                            <label for="">Type your Email Address</label>
                    </div>
                <div class="input-data">
                            <input type="text" required>
                            <div class="underline" id="linkedin" name="linkedin">
                            </div>
                            <label for="">Your LinkedIn Profile</label>
                </div>
                </div>
                <div class="form-row">
                  <div class="input-data textarea">

        <div class="form-row submit-btn">
                  <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" value="submit">
                  </div>
                </div>

        </form>
        </div>

  </body>

{% endblock%}