{% extends 'myapp/base.html' %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Resume Builder</title>
    {% load static %}
    <link rel="stylesheet"  href="{% static 'myapp/css/form.css' %}">
</head>
 <body>

        <div class="container">
              <div class="text">3-> Your Project or Experience.*</div>
        <form name="frm" action="{% url 'form5' %}" method="post">
            {% csrf_token %}
                <div class="form-row">
<!--                  <div class="input-data">-->
<!--                    <input type="text" required name="school" id="school">-->
<!--                    <div class="underline">-->
<!--                    </div>-->
<!--        <label for="">Your College or University name</label>-->
<!--                  </div>-->
<!--                    <div class="input-data">-->
<!--                        <input type="text" required>-->
<!--                        <div class="underline">-->
<!--                        </div>-->
<!--                        <label for="">Last Name</label>-->
<!--                  </div>-->
        </div>
               <div class="form-row">
                     <div class="input-data textarea">
<!-- Due to more textarea tag I got an error.. SO I changed the name of texarea tag into changeit. Replace the changeit text/tag to textarea-->
            <textarea rows="8" cols="80" required></textarea>
                         <p>Shift ⇧ + Enter ↵ to make a line break</p>
            <br />
                    <div class="underline">
                    </div>
                    <label for="">Write your message</label>


        <br />
<div class="form-row submit-btn">
          <div class="input-data">
            <div class="inner"></div>
            <input type="submit" value="submit">
          </div>
        </div>
      </form>
    </div>

  </body>

{% endblock%}