
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--    google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <title>Resume Builder</title>
    <style>
    .head{
    font-size: 50px;
    color: white;
    font-weight:10px;
    font-family: 'Staatliches', cursive;
    background-color:black;
    text-align:center;
    margin:2px;
    word-spacing:5px;
    }
    .sub-head{
    font-size: 25px;
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color:black;
    text-align:center;
    margin:2px;
    text-transform: capitilaze;
    letter-spacing:5px;

    }
    .content{
    font-size: 15px;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align:left;
    margin:2px;
    word-spacing:3px;
    line-height:px;
    }
    </style>
</head>
<body>
<div class="head">
    <h1><b>{{name}}</b></h1>
</div>

<br><br><br><br><br>

<div class="row">
    <div class="col-md-5">

        <div class="form-group">
            <div class="sub-head">
                <h3>Summary</h3>
            </div>
            <div class="content">
                <p>{{summary}}</p>
            </div>
        </div>

        <div class="form-group">
            <div class="sub-head">
                <h3>Contact info</h3>
            </div>
            <div class="content">
                <p>{{address}}</p>
            </div>
            <div class="content">
                <p>{{email}}</p>
            </div>
            <div class="content">
                <p> +91 {{phone}}</p>
            </div>
        </div>

        <div class="form-group">
            <div class="sub-head">
                <h3>Education</h3>
            </div>
            <div class="content">
                <p>{{school}}</p>
            </div>
            <div class="content">
                <p>Year: {{year}}</p>
            </div>
            <div class="content">
                <p>Grade: {{marks}}</p>
            </div>
        </div>
    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-5">

        <div class="form-group">
            <div class="sub-head">
                <h3>Skill</h3>
            </div>
            <div class="content">
                <p>{{skills}}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="sub-head">
                <h3>Awards</h3>
            </div>
             <div class="content">
                <p>{{awards}}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="sub-head">
                <h3>Experience</h3>
            </div>
            <div class="content">
                <p>{{experience}}</p>
            </div>
        </div>
    </div>
</div>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->

</body>
</html>