{% extends 'myapp/base.html' %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Resume Builder</title>
    {% load static %}
    <link rel="stylesheet"  href="{% static 'myapp/css/style2.css' %}">

</head>
<body>

<div class="row builder">

        <div class="box is-transparent"><br><br>
            <center>
            <h1>
                <span>Complete your Resume </span>
            </h1>
            <h4>
                Employers will use this information to contact you.
            </h4>
                </center><br>
            <div class="container-fluid">
    		<div class="container">
    			<form name="frm" action="{% url 'resumeform' %}" method="post">
    				{% csrf_token %}
    				<div class="row">
    					<div class="col-md-5">
    					<fieldset>
    						<div class="form-group">
								<h4><b>Name</b></h4>
								<input type="text" class="form-control" name="name" placeholder="Your Name" required="required" id="name">
							</div><br>

                            <div class="form-group">
                                <h4><b>Contact Info</b></h4>

                                    <label for="email"><b>Email address</b></label>
                                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">

                            </div>
                            <div class="form-group">
                                    <label for="phone"><b>Phone</b></label>
                                    <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone No.">

                            </div>

                            <div class="form-group">

                                <label for="address"><b>Address</b></label>
                                <input type="text" name="address" class="form-control" id="address" placeholder="Address">



                                <label for="linkedin"><b>LinkedIn Profile</b> </label>
                                <input type="text" name="linkedin" class="form-control" id="linkedin" placeholder="Enter link to your profile">

                            </div>

							<br><h4><b>Summary</b></h4>
                            <div class="form-group">
                                <textarea   name="summary" class="form-control" id="summary" rows="3" placeholder="Summary"></textarea>
                            </div>

                            <br><h4><b>Experience/Projects</b></h4>
                                <div class="form-group" id="exp_text">
                                <textarea  name="experience" class="form-control" id="experience" rows="5" placeholder=""></textarea>
                            </div>

						</fieldset>
    					</div>

    					<div class="col-md-2">
							<!-------null------>
						</div>

								<div class="col-md-5">
									<fieldset>
                                        <h4><b>Education</b></h4>
                                        <div class="form-row">
										<div class="col">
                                            <label for="school">School/university</label>
                                            <input type="text" name= "school" class="form-control" id="school" placeholder="School/University name">
                                        </div>
                                        </div>
	   									<div class="col">
                                            <label for="year">Year</label>
                                            <input type="number" name="year" class="form-control" id="year" placeholder="Year of passing">
                                        </div>
                                        <div class="col">
                                                <label for="marks">Marks(optional)</label>
                                            <input type="number" name="marks" class="form-control" id="marks" placeholder="Your passing marks">
                                        </div>

                                        <br><h4><b>Skills</b></h4>
                                        <div class="form-group">
                                        <textarea  name="skills" class="form-control" id="skills" rows="5" placeholder="Enter each skill with Comma ',' separated"></textarea>
                                        </div>

                                        <br><h4><b>Awards</b></h4>
                                        <div class="form-group" id="exp_text">
                                        <textarea  name="awards" class="form-control" id="awards" rows="8" placeholder="Your Awards"></textarea>
                                        </div>


	   								 <br><br><button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>
        {{msg}}

									</fieldset>
										<div class="wrap">

										</div>
								</div>



    				</div>
    			</form>
    		</div>
    	</div>
        </div>


</div>

</div>


</body>

{% endblock%}