{% extends 'myapp/base.html' %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Resume Builder</title>
    {% load static %}
    <link rel="stylesheet"  href="{% static 'myapp/css/form.css' %}">
</head>
 <body>

  </body>

{% endblock%}